# Ignorar diretórios locais do Terraform,
# que são criados quando você executa `terraform init`
**/.terraform/*

# Ignorar arquivos de estado do Terraform,
# que contêm o estado atual da infraestrutura
*.tfstate
*.tfstate.*

# Ignorar arquivos de log de falha,
# que são gerados quando o Terraform encontra um erro
crash.log
crash.*.log

# Ignorar arquivos .tfvars, que podem conter dados sensíveis,
# como senhas, chaves privadas e outros dados sensíveis
*.tfvars
*.tfvars.json

# Ignorar arquivos de substituição, pois geralmente
# são usados para substituir recursos localmente e não são verificados
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignorar arquivos de configuração do CLI,
# que podem conter configurações específicas do usuário
.terraformrc
terraform.rc

# Ignore terraform locks
# 
.terraform.lock.hcl
